<%= render 'shared/header'%>
<div id="content">

    <!-- Page Title -->
    <div class="page-title pb-0">
        <div class="container-fluid container-custom">
            <h1>독서모임 등록</h1>
            <p class="lead text-muted">Interesting articles about our business</p>
        </div>
    </div>
    
    <!-- Section / Blog -->
    <section id="blog" class="section">

        <div class="container-fluid container-custom clearfix">
            <!-- Main -->
            <div class="main ">
                <div class="row masonry">  
                    <div class="masonry-sizer col-sm-6 col-xs-12"></div>
                    <div class="masonry-item col-sm-6 col-xs-12">
                        <!-- Post - Item -->
                        <h1>New Club</h1>
                        
                        <%= render 'form' %>
                        
                        <%= link_to 'Back', clubs_path %>
                        
                </div>
            </div>
        </div>
        
    </section>

</div>